header {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

header .logo {
    /* color: var(--hight); */
    padding-right: 10px;
}

.icon-ya{
    font-size: 40px;
    color: var(--theme);
}

header nav {
    display: flex;
    flex: 1;
}

header nav li {
    padding: 10px;
}

header .avatar,
header .avatar img {
    height: 45px;
    width: 45px;
    border-radius: 25px;
}

.wrapper {
    width: 1350px;
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    align-items: center;
}

nav li,
.logo {
    cursor: pointer;
}