.login {
    width: 300px;
    text-align: center;
    margin: 150px auto;
}

.login li {
    padding: 10px;
}

.login li input {
    padding: 10px 20px;
    border-radius: 18px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.login li button {
    background: var(--theme);
    color: var(--whrite);
    width: 100%;
    padding: 10px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}

.login li h1 {
    color: var(--theme);
    text-align: left;
    padding: 10px 0;
}

button:disabled {
    opacity: .7;
    cursor: wait !important;
}

.login select {
    padding: 10px 20px;
    border-radius: 18px;
    border: none;
    width: 280px;
    box-sizing: border-box;
    margin: 10px 0;
}