* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    list-style: none;
    color: var(--color);
    background: var(--background);
    --theme: #946ce6;
    --theme-bg: rgba(148, 108, 230, 0.1);
    --black: rgb(37, 37, 37);
    --whrite: #fff;
    --border: 0 1px 2px #ddd;
    --color: #333;
    --background: #fafafa
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

a {
    color: var(--color);
    text-decoration: none
}

a:hover {
    color: var(--theme);
}

header input::-webkit-input-placeholder {

    color: var(--theme);

}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
    background-image: #f2f2f2 !important;
}

::-webkit-scrollbar-track {
    border-radius: 10px !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
    background: transparent !important;
}

input:disabled{
    background-color: #f2f2f2;
}