.detail {
    border: 1px solid #ccecff;
    border-radius: 4px;
    background: #fff;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
}

.detail h1 {
    padding: 10px;
}

.detail p {
    background: #ccecff;
    padding: 10px 100px;
    border: 1px solid #ccecff;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

.detail .info li {
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
}

.detail .tag li {
    display: inline-block;
    padding: 5px 10px;
    background: #ccecff;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.reply textarea {
    border: 1px solid #ccecff;
    border-radius: 4px;
    background: #fff;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

.reply input {
    border: 1px solid #ccecff;
    border-radius: 4px;
    background: #fff;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

.chapter {
    border: 1px solid #ccecff;
    border-radius: 4px;
    background: #fff;
    margin: 20px 0;
    padding: 10px;
    line-height: 50px;
}

.chapter h2 {
    text-align: center;
    cursor: pointer;
    text-decoration: underline
}

.chapter article {
    font-size: 16px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}